.modal__container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.684);
  z-index: 1000;
}

.modal__body {
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    height: max-content;
    width: max-content;
}

.modal__button {
    position: absolute;
    right: -50px;
    top: 0px; 
    border: none;
    border-radius: 15%;
    height: 29px;
    width: 29px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: background-color, 0.3s;
}

.modal__button:hover {
    background-color: rgba(255, 255, 255, 0.073);
}